{{- /* Set initial variables */ -}}
{{- $page := .Page -}}
{{- $site := .Site -}}
{{- $baseurl := $site.BaseURL -}}
{{- $data := $site.Data -}}

{{- $baseurl := "https://data.kg0.nl/entity/" -}}

{{- $entitylist := slice -}}

{{- if $page.Params.mainentity -}}
  {{- $entitytype := index (split $page.Params.mainentity "/") 0 -}}
  {{- $entityid   := index (split $page.Params.mainentity "/") 1 -}}
  {{- $entitydir  := index $data $entitytype -}}
  {{- $entity     := index $entitydir $entityid -}}

  {{- with $page.Params.about -}}
    {{- if not (in $entitylist . ) -}}
      {{- $entitylist = $entitylist | append . -}}
      {{- range . -}}
        {{- $id := print $baseurl . -}}
        {{- $entity := getJSON (print $id ".json" ) -}}
        {{- if $entity -}}
          {{- $entity := merge $entity (dict "@id" $id) -}}
          {{- $page.Scratch.SetInMap "schema:graph" $id $entity -}}
        {{- else -}}
          {{- $entitytype := index (split . "/") 0 -}}
          {{- $entityid   := index (split . "/") 1 -}}
          {{- $entitydir  := index $data $entitytype -}}
          {{- $entity     := index $entitydir $entityid -}}
          {{- $entity     := merge $entity (dict "@id" (print $baseurl $entitytype "/" $entityid)) -}}
          {{- $page.Scratch.SetInMap "schema:graph" $entityid $entity -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- with $page.Params.mentions -}}
    {{- $entitylist = $entitylist | append . -}}
    {{- range . -}}
      {{- $id := print $baseurl . -}}
      {{- $entity := getJSON (print $id ".json" ) -}}
      {{- if $entity -}}
        {{- $entity := merge $entity (dict "@id" $id) -}}
        {{- $page.Scratch.SetInMap "schema:graph" $id $entity -}}
      {{- else -}}
        {{- $entitytype := index (split . "/") 0 -}}
        {{- $entityid   := index (split . "/") 1 -}}
        {{- $entitydir  := index $data $entitytype -}}
        {{- $entity     := index $entitydir $entityid -}}
        {{- $entity     := merge $entity (dict "@id" (print $baseurl $entitytype "/" $entityid)) -}}
        {{- $page.Scratch.SetInMap "schema:graph" $entityid $entity -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- with $page.Params.entities -}}
    {{- $entitylist = $entitylist | append . -}}
    {{- range . -}}
      {{- $id := print $baseurl . -}}
      {{- $entity := getJSON (print $id ".json" ) -}}
      {{- if $entity -}}
        {{- $entity := merge $entity (dict "@id" $id) -}}
        {{- $page.Scratch.SetInMap "schema:graph" $id $entity -}}
      {{- else -}}
        {{- $entitytype := index (split . "/") 0 -}}
        {{- $entityid   := index (split . "/") 1 -}}
        {{- $entitydir  := index $data $entitytype -}}
        {{- $entity     := index $entitydir $entityid -}}
        {{- $entity     := merge $entity (dict "@id" (print $baseurl $entitytype "/" $entityid)) -}}
        {{- $page.Scratch.SetInMap "schema:graph" $entityid $entity -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{ $depth := 1 }}
  {{- partial "kg/screenentity.html" (dict "entity" $entity "site" $site "page" $page "entities" $entitylist "depth" $depth ) -}}

  {{- $page.Scratch.SetInMap "result" "@id" (print $baseurl $entitytype "/" $entityid) -}}

  {{- $graph := slice -}}
  {{- range $key, $value := ($page.Scratch.Get "schema:graph") -}}
    {{- $graph = $graph | append $value -}}
  {{- end -}}

  {{- $result := $page.Scratch.Get "result" -}}
  {{- $finalgraph := (dict "@context" "http://schema.org" "@graph" (slice $result $graph)) -}}

  {{- $output := $finalgraph | jsonify | safeJS -}}
  {{- $output -}}

{{- end -}}
